@font-face {
    font-family: consolas;
    src: url('../fonts/Consolas.html');
}

@font-face {
    font-family: consolas;
    src: url('../fonts/Consolas.ttf');
}

* {
    scroll-behavior: smooth;
    font-family: consolas;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Logo*/
.navbar-light .navbar-brand {
    font-size: 25px;
    color: #fff;
}

.navbar-light .navbar-nav {
    font-size: 15px;
}
/* Navigation Bar Active Link*/
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
}

/* Navigation Bar Link Colors*/
.navbar-light .navbar-nav .nav-link{
    color: black;
    text-decoration: none;
    text-align: left;
    align-content: center;
    display: block;
    padding-left: 5px;
    padding-right: 5px; 
    margin-left: 5px;
    margin-right: 5px;
    /* width: 35px; 
    height: 35px; */
    position: relative;
}

/* Navigation Bar Hover/Focus*/
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color:  gray;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: white;
    
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    color: white;
}

/* .navbar-light .navbar-nav .nav-link:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    opacity: 0;
    background-color: gray;
    transition: 0.5s ease;
}

.navbar-light .navbar-nav .nav-link:hover:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(0, -50%);
    width: 5px;
    height: 5px;
    border-radius: 10px;
    opacity: 1;
    background-color: gray;
    transition: 0.5s ease;
} */

.parallax-window {
    align-content: center; 
    text-align: center; 
    position: relative; 
    margin: 0 auto; 
    display: flex; 
    align-items: center;
}   

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 100px 100px 100px 100px;
    transition: 0.4s;
    margin-top: -60px;
} 

.home-data-container {
    position: relative;
    z-index: 0;
}

.home-head {
    text-align: center; 
    margin: 0 auto; 
    display: block;
    width: 100%;
    position: relative;
    align-self: center; 
    font-size: 30px;
    color: rgba(255, 255, 255, 0.4);
}

#homeIntro {
    color: white;
    font-size: 25px;
}

#particles-js {
    height: 100vh;
    width: 100%;
    background-size: cover; 
    background-repeat: no-repeat;
    /* z-index: -1; */
}

#particles-js canvas{
    position: fixed;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../assets/icons/menu.svg");
}

.home-section {
    height: 100vh;
    position: relative;
    width: 100%;
    padding-bottom: 20px;

}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: white;
    margin-left: 0.5rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: white;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

/* Social Links Div*/

.social {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;   
    top: 50%;
    /* bottom: 50%; */
    left: 50%;
    padding-top: 20px;
    /* margin: 0 0 0 0 auto; */
    transform: translate(-50%, -50%);
    z-index: 5;
}

.social a {
    display: inline-flex;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    margin: 0 5px;
    border-radius: 50%;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    transition: 0.4s;
}

.mail a {
    position: relative;
    z-index: 3;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    color: gray;
    border-radius: 15px;
    padding: 10px;
    justify-content: center;
    font-size: 13px;
    align-items: center;
    transition: 0.4s;
}

.mail a:hover {
    color: white;
}

/* Adding social links style on hover */

.social a i {
    transition: 0.4s;
}

.social a:hover > i {
    transform: scale(1.2) rotate(20deg);

}

.social .fb:hover > i {
    color: #3360ff;
}

.social .gh:hover > i {
    color: black;
}

.social .ig:hover > i {
    color: #833ab4;
}

.social .ln:hover > i {
    color: #0077B5;
}

.social .rg:hover > i {
    color: #15AABF;
}

.social .tw:hover > i {
    color: #0084b4;
}

.social .yt:hover > i {
    color: red;
}

.center-home {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.scroll-down {
    position: relative;
    width: 22px;
    height: 35px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    bottom: 10px;
}

.scroll-down:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    animation: animate 2s linear infinite;
}

.scroll-down:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    border-radius: 50%;
    background: white;
    left: 50%;
    top:5px;;
    transform: translate(-50%, 0);
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%
    {
        transform: translate(-50%, 0px);
        opacity: 0;
    }
    25%
    {
        transform: translate(-50%, 6px);
        opacity: 1;
    }
    50%
    {
        transform: translate(-50%, 12px);
        opacity: 1;
    }
    75%
    {
        transform: translate(-50%, 18px);
        opacity: 1;
    }
    100%
    {
        transform: translate(-50%, 30px);
    }
}

.home-bottom-section:before {
    position: absolute;
    content: '';
    width: 50.005%;
    height: 250px;
    top: -50px;
    left: 0;
    background: linear-gradient(90deg, black 0%, #808080 100%);
    transform: skewY(6deg);
    z-index: 0;
}

.home-bottom-section:after {
    position: absolute;
    content: '';
    width: 50.005%;
    height: 250px;
    top: -50px;
    right: 0;
    background: linear-gradient(90deg, #808080 0%, white 100%);
    transform: skewY(-6deg);
    z-index: 0;
}

.home-bottom-section {
    background: white;
    color: black;
    position: relative;
    height: 50px;
    z-index: 0;
    text-align: center;
    width: 100%;
}

/* .section-title #under-const{
    font-family: monteserrat-light;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: gray;
}

.section-title #ref-link {
    font-family: monteserrat-light;
    font-style: italic;
    text-transform: uppercase;
} */

.section-header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 80px;
    font-family: mc;
    padding-left: 50px;
    margin-bottom: 80px;
    color: white;
    border-radius: 0 0 0 20px;
    width: 100%;
    font-size: 30px;
    font-family: fira;
    text-align: left;
    font-weight: bold;
    background: linear-gradient(90deg, black 0%, white 100%);
}

/* About Section */

.about-section {
    background: white;
    color: black;
    position: relative;
    text-align: center;
    align-items: center;
    align-self: center;
    /* padding: 20px; */
    width: 100%;
    margin: 0 auto;
}

.about-img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

.section-spacer {
    background: transparent;
}

.about-short-bio {
    text-align: center;
    padding: 10px;
}

.about-tag {
    word-break: break-all;
    margin-bottom: 5px;
    font-size: 14px;
}

.about-tag ul li {
    transition: 0.4s;
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block; 
}

.about-tag ul li span {
    transition: 0.4s;
    border: 1px solid gray;
    padding: 4px 10px;
    border-radius: 4px; 
}

.about-tag ul li span:hover {
    background-color: gray;
    color: white !important; 
}

.btn-download {
    background-color: gray; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    border-radius: 30px;
    font-size: 15px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    transition: 0.4s;
  }
  
  /* Darker background on mouse-over */
  .btn-download:hover {
    background-color: black;
  }

  /* Skills Section */
  .skill-section {
      position: relative;
      text-align: center;
  }

  .skills-tag {
    word-break: break-all;
}

.skills-tag ul li {
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 4px 0px;
    display: inline-block; 
}

.skills-tag ul li span {
    border: 1px solid gray;
    padding: 4px 10px;
    border-radius: 4px; 
    transition: 0.4s;
}

.skills-tag ul li span:hover {
    background-color: gray;
    color: white !important; 
}

/******************* Timeline Demo - 8 *****************/
.main-timeline8{overflow:hidden;position:relative}
.main-timeline8:after,.main-timeline8:before{content:"";display:block;width:100%;clear:both}
.main-timeline8:before{content:"";width:3px;height:100%;background:#d6d5d5;position:absolute;top:30px;left:50%}
.main-timeline8 .timeline{width:50%;float:left;padding-right:30px;position:relative}
.main-timeline8 .timeline-icon{width:32px;height:32px;border-radius:50%;background:#fff;border:3px solid #fe6847;position:absolute;top:5.5%;right:-17.5px}
.main-timeline8 .year{display:block;padding:10px;margin:0;font-size:30px;color:#fff;border-radius:0 50px 50px 0;background:gray;text-align:center;position:relative}
.main-timeline8 .year:before{content:"";border-top:35px solid #bdbdbd ;border-left:35px solid transparent;position:absolute;bottom:-35px;left:0}
.main-timeline8 .timeline-content{padding:30px 20px;margin:0 35px 0 35px;background:#f2f2f2}
.main-timeline8 .title{font-size:19px;font-weight:700;color:#504f54;margin:0 0 10px}
.main-timeline8 .description{font-size:14px; margin:0}
.main-timeline8 .timeline:nth-child(2n){padding:0 0 0 30px}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .timeline:nth-child(2n) .year{border-radius:50px 0 0 50px;background:gray}
.main-timeline8 .timeline:nth-child(2n) .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline:nth-child(2n) .timeline-content{text-align:center;margin:0 35px 0 45px}
.main-timeline8 .timeline:nth-child(2){margin-top:170px}
.main-timeline8 .timeline:nth-child(odd){margin:-175px 0 0}
.main-timeline8 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline8 .timeline:first-child,.main-timeline8 .timeline:last-child:nth-child(even){margin:0}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon{border-color:#7eda99}
.main-timeline8 .timeline:nth-child(2n) .year:before{border-top-color:#bdbdbd }
.main-timeline8 .timeline:nth-child(3n) .timeline-icon{border-color:#8a5ec1}
.main-timeline8 .timeline:nth-child(3n) .year{background:gray}
.main-timeline8 .timeline:nth-child(3n) .year:before{border-top-color:#bdbdbd }
.main-timeline8 .timeline:nth-child(4n) .timeline-icon{border-color:#f98d9c}
.main-timeline8 .timeline:nth-child(4n) .year{background:gray}
.main-timeline8 .timeline:nth-child(4n) .year:before{border-top-color:#bdbdbd}
@media only screen and (max-width:767px){.main-timeline8{overflow:visible}
.main-timeline8:before{top:0;left:0}
.main-timeline8 .timeline:nth-child(2),.main-timeline8 .timeline:nth-child(even),.main-timeline8 .timeline:nth-child(odd){margin:0}
.main-timeline8 .timeline{width:100%;float:none;padding:0 0 0 30px;margin-bottom:20px!important}
.main-timeline8 .timeline:last-child{margin:0!important}
.main-timeline8 .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .year{border-radius:50px 0 0 50px}
.main-timeline8 .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline-content{margin:0 35px 0 45px}
}
  

/* Background Timeline for education & experience */
 .timeline-header {
     margin-top: 40px;
     text-align: left;
 }
 .container-timeline {
    width: 85%;
    padding: 50px 0;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
 }
 
 .container-timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 1.8%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 0;
 }
 
 .timeline-block {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right {
    float: right;
 }
 
 .timeline-block-left {
    float: left;
    direction: rtl
 }
 
 .marker-bg {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #00000022;
    background: gray;
    margin-top: 20px;
    z-index: 1;
 }
 
 .timeline-content-bg {
    width: 100%;
    padding: 0 15px;
    color: #666;
 }
 
 .timeline-content-bg h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    background-color: rgba(0, 0, 0, 0.15);
 }
 
 .timeline-content-bg p {
    font-size: 14px;
    border-radius: 5px;
    color: gray;
    padding: 10px 8px;
    background-color: rgba(0, 0, 0, 0.1);
 }
 
 @media screen and (max-width: 768px) {
    .container-timeline:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }
 
    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }
 /* Project Section */
 .project-section {
    background: white;
    color: black;
    position: relative;
    text-align: center;
    align-items: center;
    align-self: center;
    /* padding: 20px; */
    width: 100%;
    margin: 0 auto;
}

.project-grid {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px;
    padding: 20px 20px 20px 20px;
    transition: 0.4s;
    color: black;
    text-decoration: none;
}

.project-grid:hover {
    background-color: black;
    color: white;
}

.project-icon {
    font-size: 70px;
    background: rgba(255, 255, 255, 0.2);
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
}

.project-name {
    font-size: 18px;
}

.project-date {
    margin-top: 10px;
    font-size: 14px;
}

/* publication Section */
.publication-section {
    background: white;
    color: black;
    position: relative;
    text-align: center;
    align-items: center;
    align-self: center;
    /* padding: 20px; */
    width: 100%;
    margin: 0 auto;
}

.publication-grid {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px;
    justify-content: center;    
    padding: 20px 20px 20px 20px;
    transition: 0.4s;
    color: black;
    text-decoration: none;
}

.publication-title {
    font-size: 22px;
}

.publication-date {
    font-size: 14px;
    margin-top: 5px;
}

.publication-type {
    font-size: 14px;
}

.publication-pub {
    font-size: 16px;
}

.publication-title, .publication-date, .publication-type, .publication-pub {
    color: black;
}

.publication-grid:hover {
    background-color: black;
}

.publication-grid:hover .publication-title{
    color: white;
}

.publication-grid:hover .publication-date{
    color: white;
}

.publication-grid:hover .publication-pub{
    color: white;
}

.publication-grid:hover .publication-type{
    color: white;
}


 /* Contact Section */
 .contact-section {
    background: white;
    color: black;
    position: relative;
    text-align: center;
    align-items: center;
    align-self: center;
    /* padding: 20px; */
    width: 100%;
    margin: 0 auto;
}

.contact-phone {
    background: gray;
    width: 210px;
    height: 210px;
    margin: 5px;
    border-radius: 50%;
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: 0.4s;
}

.contact-phone:hover {
    background: black;
}

.input-field {
    background-color: #bdbdbd;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-form {
    margin-left: 50px;
    margin-right: 50px;
}

/* Footer */
.page-footer {
    margin-top: 50px;
    position: relative;
    background: linear-gradient(90deg, white, gray, white);
    color: white;
    font-size: 12px;
    border-radius: 10px 10px 0 0;
}

