
.criticalstart {
  color: #233d63;
  display: inline-block;
  font-weight: bold;
}

.fsu {
  color: #782f40;
  display: inline-block;
  font-weight: bold;
}

body.dark-mode {
    background-color: #191a1b;
    color: #f1f1f1;
  }
  

  #theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 25px; 
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  
  }
  

  body.dark-mode #theme-toggle {
    background-color: #191a1b;
    color: #fff;
  }
  

  body:not(.dark-mode) #theme-toggle {
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  
  }
  

  body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
